@import '/home/spaced/.cache/matugen/compiled/colors.scss';

@mixin set-size($size: 5px) {
  min-width: $size;
  min-height: $size;
}

* {
  color: $on_background;
  all: unset;
}

window.bar {
  background-color: $background;
}

.bar-clock {
  background-color: $primary_container;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 25px 25px 5px;
  padding: 5px
}

.bar-date {
  background-color: $primary_container;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px 5px 5px 25px;
  padding: 5px
}

.corner {
  background-color: $background;
  border-radius: 25px;
  padding: 50px;
}

.bar-widgets-left {
  margin-left: 20px;
}

.bar-widgets-right {
  margin-right: 20px;
}

.bar-activewindow-top,
.bar-activewindow-bottom {
  font-size: 15px;
}

.bar-activewindow-top {
  font-size: 12px;
  opacity: 0.5;
  font-style: italic;
}

.bar-media {
  background-color: $primary;
  color: $on_primary;
  border-radius: 50px;
  padding: 0px 7px 0px 7px;
  margin: 7px;
}

.bar-media-text {
  opacity: 1
}

.bar-tray-content {
  background-color: $primary;
  color: $on_primary;
  margin: 7px;
  padding: 6px;
  border-radius: 50px;
  margin-right: 0px;
}
