@import '/home/spaced/.cache/wal/colors.scss';

* {
    color: $foreground;
    all: unset;
}

window.bar {
    background-color: $background;
}

.corner {
    background-color: $background;
    border-radius: 25px;
    padding: 50px
}

.bar-widgets-left {
    margin-left: 20px;
}

.bar-widgets-right {
    margin-right: 20px;
}

.bar-activewindow-top, .bar-activewindow-bottom {
    font-size: 15px;
}

.bar-activewindow-top {
    font-size: 12px;
    opacity: 0.5;
    font-style: italic;
}

.bar-media {
    background-color: $color1;
    border-radius: 500px;
    padding: 0px 7px 0px 7px;
    margin: 7px;
    opacity: 0.5
}

.bar-media-text {
    opacity: 1
}
