@import '/home/spaced/.cache/matugen/compiled/colors.scss';

.player {
    padding: 10px;
    min-width: 400px;
    background-color: $primary_container;
    border-radius: 15px;
    color: $primary;
    margin: 5px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
    color: $primary
}

.player .artist {
    font-size: 1.1em; 
    opacity: 0.5;
}

.player scale.position {
    padding: 1px;
    margin-bottom: .4em;
}

.player scale.position trough {
    background-color: $primary_container;
    border-radius: 5px;
    min-height: 8px;
}

.player scale.position highlight {
    background-color: $primary;
    border-radius: 5px;
}

.player scale.position slider {
    all: unset;
    background-color: #ffffff
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}

.player button.play-pause {
    margin: 0 .3em;
}

.icon {
    margin: 0px;
}
