@import "/home/spaced/.cache/matugen/compiled/colors.scss";

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  font-size: 10px;
}

.icon box {
  border-radius: 500px;
  padding: 20px;
  margin: 10px;
  min-width: 10px;
  min-height: 10px;
  background-color: $primary_container;
  color: $primary;
}
.icon image {
  font-size: 14px;
  min-width: 10px;
  min-width: 10px;
  background-color: $primary_container;
  color: $primary;
  padding: 0px;
}

.notification {
  min-width: 400px;
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
  border: 1px solid $primary;
  background-color: $primary;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: $on_primary;
  font-size: 20px;
  margin-top: 5px;
}

.body {
  font-size: 11px;
  color: $on_primary;
}

.title .body {
  margin-left: 10px;
}

.actions .action-button {
  margin: 7 7px;
  margin-top: 0.8em;
  background-color: $primary-container;
  border-radius: 15px;
  padding: 5px;
  color: $primary;
}
