@import '/home/spaced/.cache/matugen/compiled/colors.scss';

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 24px;
    min-height: 24px;
}

.icon image {
    border-radius: 50px;
    min-width: 15px;
    min-height: 15px;
    padding: 15px;
    margin: 15px;
    background-color: $primary;
    color: $on_primary;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius:50px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 0px;
    margin: .5em;
    border: 1px solid $primary;
    background-color: $background;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $on_background;
    font-size: 1.4em;
}

.body {
    color: $on_background;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
