.config/Youtube*
.config/VSCodium/
.config/dconf/
.config/Thunar/
.config/OpenRGB/
.config/gtk-4.0/
.config/glib*/
.config/goa*/
.config/ibus/
.config/xsettigsd/
.config/menus/
.config/gemini_history.json
.config/.gsd-keyboard*
.config/mimeapps.list
.config/monitors.xml
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/libvirt/
.config/nwg-look/
.config/vinegar/
.config/presets/
.config/procps/ 
.config/qt*/
.config/wallpapers/
.config/yay/
.config/xfce4/
.config/xsettingsd/
.config/sh.cider.classic/
.config/Cider/
.config/Electron/
.config/Kvantum/
.config/Ladybird/
.config/neofetch/
.config/chromium/
.config/gnome-session/
.config/evolution/
.config/epiphany/
.config/discord/
.config/kitty/
.config/Cursor/
