@import '/home/spaced/.cache/wal/colors-waybar.css';

window#waybar {
    background-color: @background;
    transition-property: background-color;
    transition-duration: .25s;
    margin: 10px;
    padding: 3px; 
    border-radius: 20px;
}

#window {
    border-radius: 20px;
    padding: 0 10px 0 10px;
    margin: 10px;
}


#custom-menu,
#custom-power,
#wireplumber,
#window,
#network,
#mpris,
#clock {
    background-color: @color1;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#custom-menu, #network {
    border-radius: 20px 5px 5px 20px;
}

#custom-power, #mpris {
    border-radius: 5px 20px 20px 5px;
}

#network, #mpris {
    padding-left: 10px;
    padding-right: 10px;
}

#custom-power, #custom-menu {
    background-color: @color3;
}
