// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@import '/home/spaced/.cache/matugen/compiled/colors.scss';

window.StatusBar {
    background: $surface;
    color: $on_surface;
    font-weight: bold;

    >centerbox {
        background: $surface_container;
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 24px;
        margin: 2px;
    }
    
    .FocusedWindow-Class {
      opacity: 0.5;
      font-size: 9px;
    }

    .FocusedWindow-Title {
      opacity: 1;
      font-size: 14px;
    }

    .FocusedWindow {
      background: $surface
    }
}

