@import '/home/spaced/.cache/wal/colors-waybar.css';

* {
    color: @foreground
}

window.bar {
    background-color: @background;
}

.corner {
    background-color: @background;
    border-radius: 25px;
    padding: 50px
}

.bar-widgets-left {
    margin-left: 20px;
}

.bar-widgets-right {
    margin-right: 20px;
}

.bar-activewindow-top, .bar-activewindow-bottom {
    font-size: 15px;
}

.bar-activewindow-top {
    font-size: 12px;
    color: @foreground;
    opacity: 0.5;
    font-style: italic;
}
